/*Modal*/
.modal-contenido{
  background-color:#ffffff;
  padding: 10px 20px;
  margin: 7% auto;
  position: relative;
  width: 63%;
}
.modal{
  background-color: rgba(0,0,0,.8);
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  opacity:0;
  pointer-events:none;
}
#miModal:target{
  opacity:1;
  pointer-events:auto;
  z-index: 9;
}
#miModal:target{
  display: block !important;
}

